
.landing-page{
    /* background-color: red; */
    height: 100vh;
    width: 100%;
    padding-top: 8px;
}

.text-structure{
    /* background: #000; */
    margin-top: 80px;
    /* color: white; */
    padding-left: 80px;
}

.heading{
    font-size: 7vw;
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: -0.07em;
    font-weight: 700;
    
}

.line{
    border-top: 1px solid gray;
    margin-top: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* padding-left: 80px; */

}

.para{
    font-size: medium;
    font-weight: 300;
    letter-spacing: -0.07em;
    padding-left: 80px;
    padding-right: 80px;
}

.start-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 80px;
    margin-top: 20px;
}

.box{
    display:flex;
    text-align:center;
    align-items: center;
    width: 180px;
    height: 35px;
    font-weight: 300;
    font-size: medium;
    padding: 16px;
    border: 1px solid rgb(11, 11, 11);
    border-radius: 30px;
    margin-top: 4px;
    text-transform: uppercase;
}

.circle{
    border: 1px solid black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}